mixin link(href, name)
    a(href=href)&attributes(attributes)= name

header.navbar 
    h1.logo 
        a(href='/') 
            |Joy
            span Time 
    ul.nav-items
        li 
            +link('/', 'Home')   
        li 
            +link('/blogs/create', 'New Blog')
        li 
            +link('/blogs', 'My Blogs')