extends layout.pug 

block content
    section.my-blogs
        if items.length 
            img(src="blogs.png", alt="")
            ul.all-blogs
                each item in items
                    li.blog-item 
                        a.item-title(href=`blogs/${ item.id }`)= item.title
                        .btns
                            //- UPDATE does NOT work, could not make it work
                            a(href=`/`) Update
                            a(href=`/blogs/${item.id}/delete`).del Delete
        else
            .empty
                .container
                    p Seems like there are no blogs to read
                    a(href='/blogs/create').del Create One 
                img(src="create.png", alt="")
            
                