extends layout.pug 

block content
    section.my-blogs
        if items.length 
            ul.all-blogs
                each item in items
                    li.blog-item 
                        a(href=`blogs/${ item.id }`)= item.title
                        a.del(href=`blogs/${ item.id }/delete`) DELETE
        else
            .empty
                .container
                    p Seems like there are no blogs to read
                    a(href='/blogs/create').del Create One 
                img(src="create.png", alt="")
                
