extends layout.pug 

block content 
    section.blog 
        .container
            .headline
                h2.title= item.title
                .btns
                    a(href=`/blogs/${item.id}/edit`) Edit 
                    a(href=`/blogs/${item.id}/delete`).del Delete       
        p.blog-content= item.content 
    